.productos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.lista-productos-home{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 80%;
  flex-wrap: wrap;
  list-style: none;
}
.colecciones{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lista-colecciones{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}